<div class="login-section">
    <h1>Login</h1>
    <p *ngIf="showErrorMsg" class="error-msg">Incorrect User Name/Password</p>
    <div>
        <label>User Name:</label>
        <input type="text" [(ngModel)]="userName" required/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" [(ngModel)]="password" required/>
    </div>
    <div>
        <button class="p-2" type="button" (click)="login()">Login</button>
        <button class="p-2" type="button" (click)="clearData()">Clear</button>
    </div>
</div>